In [18]:
import pandas as pd

In [19]:
#cambiar horas a segundos y quitar las palabras de la columna half-life

In [20]:
with open('../raw/allseq', 'r') as file:
    lines = file.readlines()

data = []
current_id = None
current_sequence = []

for line in lines:
    line = line.strip()
    if line.startswith('>'):
        if current_id is not None:
            data.append([current_id, ''.join(current_sequence)])
        current_id = line[1:]
        current_sequence = []
    else:
        current_sequence.append(line)

if current_id is not None:
    data.append([current_id, ''.join(current_sequence)])

df = pd.DataFrame(data, columns=['ID', 'Sequence'])
df

         ID                                           Sequence
0    Th1001  LVYTDCTESGQNLCLCEGSNVCGQGNKCILGSDGEKNQCVTGEGTP...
1    Th1002  Heavy chain:QVQLKQSGPGLVQPSQSLSITCTVSGFSLTNYGV...
2    Th1003  LKIAAFNIQTFGETKMSNATLVSYIVQILSRYDIALVQEVRDSHLT...
3    Th1004  MGADDVVDSSKSFVMENFSSYHGTKPGYVDSIQKGIQKPKSGTQGN...
4    Th1005  LPAQVAFTPYAPEPGSTCRLREYYDQTAQMCCSKCSPGQHAKVFCT...
..      ...                                                ...
234  Th1235  ANSLLEETKQGNLERECIEELCNKEEAREVFENDPETDYFYPKYLV...
235  Th1236                                                N.A
236  Th1237  FPTIPLSRLFDNAMLRAHRLHQLAFDTYQEFEEAYIPKEQKYSFLQ...
237  Th1238  AIRRYYLGAVELSWDYRQSELLRELHVDTRFPATAPGALPLGPSVL...
238  Th1239                                                N.A

[239 rows x 2 columns]

In [21]:
df_2 = pd.read_csv('../raw/thpdb.csv', delimiter=',', encoding='latin1')

In [25]:
df_2

         ID                                          Half-Life
0    Th1001                            Approximately 1.3 hours
1    Th1001                            Approximately 1.3 hours
2    Th1001                            Approximately 1.3 hours
3    Th1001                            Approximately 1.3 hours
4    Th1002                                          114 hours
..      ...                                                ...
847  Th1236                                                NaN
848  Th1237                                                NaN
849  Th1237                                                NaN
850  Th1238                                              ~17 h
851  Th1239  2Ð3 days after sc injection; 19.82 +/- 2.10 ho...

[852 rows x 2 columns]

In [22]:
df_2 = df_2.filter(['ThPP ID', 'Half-Life'])

In [23]:
df_2 = df_2.rename(columns={'ThPP ID': 'ID'})
df=df.merge(df_2, on="ID", how="left")
df.drop(columns=['ID'], inplace=True)
df = df.rename(columns={'Sequence': 'sequence', 'Half-Life': 'half_life_seconds'})

In [24]:
df.to_csv('../datasets/THPdb.csv', index=False)